<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: burlywood;">
    <form action="/show_image" method='post' enctype="multipart/form-data">
        <h2 style="text-align: center; color: rgb(0, 146, 146);font-size: 4em; font-family: monospace; font-weight: 600;">
            Upload Your Image
        </h2>
    <input type="file" name = 'data' style="font-size: 1.5em; padding: 0.4em; border-radius: 1em;margin-top: 1em;border: crimson solid 2px; background-color: rgb(209, 209, 209); margin: 1em 1em;">
    <br>
    <input type="Submit", value="Upload Image",name='submit' style="font-size: 1.5em; padding: 0.6em; border-radius: 1em;margin-top: 1em;border: crimson solid 2px; margin: 1em 1em;">
    
    </form>
</body>
</html>